/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

// DEV
#toolbar {
	display: none;
}

html, body {
	padding-top: 0 !important;
}

// TYPE SCALE //

body {
	line-height: 1.45;
	font-weight: 300;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-family: 'Pacifico';
  font-weight: 300;
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

// GENERAL

.element-invisible {
	display: none;
}

a {
	text-decoration: none;
	color: #1abc9f;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	outline: none;
	padding: .2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	&:hover {
		background: #1abc9f;
		color: #f0f0f0;
	}
}

h1, h2, h3, h4, h5 {
	color: darken(#aaa, 35%);
}

body {
	background: #eee;
	color: #aaa;
	font-family: 'Open Sans';
}

#responsive-nav-btn {
	display: none;
}

#main-menu {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #222;
	border-bottom: 6px solid #444;
	color: #111;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 1em 0 0 0;

	a.active {
		border-bottom: 6px solid lighten(#1abc9f,15%);
	}

	ul {
		display: table;
		margin: 0 auto;
		/* Override the float */
		float: none;

		li {
			float: left;
			margin-right: 0;
			padding-right: 0;

			a {
				background: none;
				font-weight: 600;
				text-transform: uppercase;
				transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				-ms-transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;
				border-bottom: 6px solid transparent;
				padding: 19px 2em;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;

				&:hover {
					border-bottom: 6px solid #1abc9f;

				}
			}
		}
	}

	a {
		color: #1abc9f;
	}
}

footer {
	width: 100%;
	background: #222;
	color: #f0f0f0;
	padding: 2em 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	.footer-inner {
		width: 1140px;
		margin: 0 auto;

		article {
			width: 33.333%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding: 0 1em;
			float: left;
			line-height: 2;

			h3 {
				margin: 0 0 1em 0;
			}
		}

		.social {
			ul {
				li {
					float: left;
					display: block;
					width: 48px;

					a {
						width: 32px;
						display: block;
						margin: 0 auto;
					}

					&:last-child {
						a {
							margin-right: 0;
						}
					}

				}
			}
		}
	}
}

#main {
	width: 1140px;
	margin: 4em auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 2em;
}


// FRONT
.front {

	#main {
		width: 1140px;
		margin: 0 auto 2em auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 2em;
	}
	
	.signature {
		font-size: 1.5em;
		color: darken(#aaa, 25%);
		text-align: right;
		font-style: italic;
		display: block;
		width: 100%;
		margin: 1em 0;
	}

	#header {
		width: 1140px;
		margin: 8em auto 0 auto;
		text-align: center;
		display: block;

		#logo {
			background: none;
		}
	}

	.team-member {
		width: 33.333%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 0 1em;
		float: left;
		
		.team-member-description {
			display: block;
			height: 150px;
		}

		ul {
			display: table;
			margin: 0 auto;
			line-height: 2;
			text-align: center;
			li {
				.fa {
					display: inline-block;
					text-align: center;
					margin-right: 1em;
					width: 24px;
					vertical-align: middle;
				}

				&:first-child {
					font-weight: 700;
					color: darken(#aaa, 25%);
				}
			}
		}

		.team-member-pic {
			width: 128px;
			height: 128px;
			overflow: hidden;
			border-radius: 50%;
			margin: 0 auto;
			box-shadow: 0 0 5px rgba(0,0,0,.4);
			border: 3px solid rgba(255,255,255,.4);

			img {
				width: 150px;
				height: 150px;
			}
		}

		.team-member-name {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}
}

.action-btn-services {
	display: table;
	margin: 2em auto;
	font-weight: bold;
	text-transform: uppercase;
	background: #ccc;
	border: 1px solid #bbb;
	color: #444;
	text-align: center;
	padding: .5em 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 3px;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

	&:hover {
		color: #fff;
		background: #1abc9f;
		border: 1px solid darken(#1abc9f, 10%);
	}
}

.action-btn-services.table {
	margin: .5em auto;
	display: inline-block;
}

// OUR SERVICES
.section-our-services {
	.services-intro {
		p {
			strong {
				font-weight: bold;
			}
		}
	}

	.rassurance {

		margin: 2em 0;

		.customer {

			border-bottom: 1px dashed #ddd;
			padding-bottom: 40px;
			margin: 40px 0;

			&:nth-child(2n) {
				.customer-photo {
					float: left;
				}

				blockquote {
					float: right;
				}

				.customer-signature {
					text-align: right;
				}
			}

			.customer-photo {
				float: right;
				width: 128px;


				img {
					border-radius: 50%;
					box-shadow: 0 0 15px rgba(0,0,0,.2);
					border: 3px solid #fff;
				}
			}

			.customer-signature {
				text-align: left;
				color: #444;
				font-weight: 700;
				display: block;
				margin: 1em 0;
			}

			blockquote {
				font-size: 20px;
				float: left;
				font-style: italic;
				font-weight: 400;
				text-align: center;
				color: #888;
				padding-top: 1.5em;
				width: 80%;
				display: block;
			}

			&:last-of-type {
				border-bottom: none;
			}
		}
	}

	#pricing-table {
			width: 100%;
			margin: 40px 0;

			strong {
				font-weight: bold;
				color: #888;
			}

			td, th {
				width: 33.333333%;
				text-align: center;
				border: 1px solid #ccc;
				padding: 1em .25em;
				font-weight: 400;
				vertical-align: middle;
			}

			th {
				font-weight: bold;
				padding: 1em 0;
				font-size: 20px;
				background: #fff;
				text-transform: uppercase;

				&:nth-child(2) {
					color: #e67e22;
				}

				&:nth-child(3) {
					color: #c0392b;
				}
			}
		}

}

// BLOG
.section-blog {
	.views-row {
		width: 45%;
		margin: 1em 0;

		.views-field-title {
			text-align: center;

			a {
				background: none;
				font-family: 'Pacifico';
				font-size: 24px;
				color: #444;
			}
		}

		.views-field-created {
			font-size: 10px;
			font-family: 'Arial', sans-serif;
			text-transform: uppercase;
			font-style: italic;
			display: table;
			margin: 1em auto;
			background: #444;
			color: #bbb;
			border-radius: 3px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding: .25em .5em;
		}

		.views-field-field-image {


			.field-content {
				width: 100%;
				height: 200px;
				margin: 1em 0;
				overflow: hidden;
				box-shadow: 0 0 15px rgba(0,0,0,.2);
				border: 3px solid #fff;
				
				a {
					width: 100%;
					height: 200px;
					display: block;	
					background: none;


					img {
						min-width: 100%;
						min-height: 100%;

					}
				}
			}
		}

		&:nth-child(2n) {
			float: right;
		}

		&:nth-child(2n+1) {
			float: left;
		}
	}
}

.node-type-article {
	.node-article {

		.field-type-image {
			width: 100%;
			height: 250px;
			overflow: hidden;
			box-shadow: 0 0 15px rgba(0,0,0,.2);
			border: 3px solid #fff;
			margin: 2em 0;
		}

		h2,h3,h4 {
			font-family: 'Pacifico';
			font-color: #444;
		}

		img {
			width: 100%;
			height: auto;
			margin: 0 auto;
		}

		.submitted {
			font-size: 10px;
			font-family: 'Arial', sans-serif;
			text-transform: uppercase;
			font-style: italic;
			float: right;
			display: inline-block;
			background: #444;
			color: #bbb;
			border-radius: 3px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding: .25em .5em;
		}
	}

	.comments {
		form {
			input, textarea {
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				padding: .5em 1em;
				font-size: 13px;
				color: #888;
				outline: none;
				border: 1px solid darken(#eee,5%);
				width: 100%;
				margin-bottom: 1em;
			}

			label {
				font-weight: bold;
				margin-bottom: 1em;
			}

			textarea {
				resize: none;
				height: 200px;
			}

			input[type="submit"] {
				background: #111;
				color: #eee;
				text-transform: uppercase;
				width: 100%;
				font-weight: bold;
				font-size: 20px;
				cursor: pointer;
				transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-ms-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;

				&:hover {
					background: lighten(#111, 10%);
					color: #1abc9f;
				}
			}
		}
	}
}

// CONTACT
.section-contact {

}

.page-contact {
	
	.form-item-copy {
		display: none;
	}

	input, textarea {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: .5em 1em;
		font-size: 13px;
		color: #888;
		outline: none;
		border: 1px solid darken(#eee,5%);
		width: 100%;
		margin-bottom: 1em;
	}

	label {
		font-weight: bold;
		margin-bottom: 1em;
	}

	textarea {
		resize: none;
		height: 200px;
	}

	input[type="submit"] {
		background: #111;
		color: #eee;
		text-transform: uppercase;
		width: 100%;
		font-weight: bold;
		font-size: 20px;
		cursor: pointer;
		transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;

		&:hover {
			background: lighten(#111, 10%);
			color: #1abc9f;
		}
	}
}

@media (max-width: 1140px) {
	#main {
		width: 90%;
	}

	.front {
		#main {
			width: 90%;
		}

		#header {
			width: 90%;
		}
	}

	footer {
		.footer-inner {
			width: 90%;
		}
	}

	.front {
		.team-member {
			.team-member-description {
				height: auto;
			}
		}
	}
}

@media (max-width: 768px) {

	#navigation {
		display: block;
		width: 100%;
		float: none;

		#main-menu {
			border: none;
			display: block;
			padding: 0;
			top: -400px;
			transition: top .4s ease-in-out;
			-moz-transition: top .4s ease-in-out;
			-ms-transition: top .4s ease-in-out;
			-o-transition: top .4s ease-in-out;
			-webkit-transition: top .4s ease-in-out;


			ul {
				width: 100%;
				clear: both;

				li {
					width: 100%;
					float: none;
					display: block;
					text-align: center;
					border-bottom: 1px solid #333;

					a {
						width: 100%;
						display: block;
						padding: 1.5em 0;
					}

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}

	#responsive-nav-btn {
		z-index: 999;
		display: block;
		position: fixed;
		right: 20px;
		top: 20px;
		background: #bbb;
		border: 1px solid #aaa;
		border-radius: 3px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: .25em .5em .1em;
		color: #444;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		opacity: .6;
	}

	.front {
		.team-member {
			width: 100%;
			float: none;
			display: block;
			margin-bottom: 2em;

			.team-member-description {
				height: auto;
			}
		}
	}

	.section-our-services {
		.rassurance {
			.customer {
				.customer-photo {
					display: table;
					float: none;
					margin: auto;

					&:nth-child(2n) {
						float: none;
					}

					&:nth-child(2n+1) {
						float: none;
					}
				}

				blockquote {
					float: none;
					width: 100%;
					display: block;
				}

				&:nth-child(2n) {
					.customer-signature {
						text-align: center;
					}
				}

				&:nth-child(2n+1) {
					.customer-signature {
						text-align: center;
					}
				}
			}
		}
	}

	footer {
		.footer-inner {
			text-align: center;

			article {
				width: 100%;
				float: none;
				margin-bottom: 2em;
			}

			.social {
				ul {
					display: table;
					margin: auto;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.section-blog {
		.views-row {
			width: 100%;
			float: none;
			margin-bottom: 80px;

			&:nth-child(2n) {
				float: none;
			}

			&:nth-child(2n+1) {
				float: none;
			}
		}
	}
}